@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind base;
@tailwind components;
@tailwind utilities;
  GNU nano 8.7                           src/input.css                            Modified
@tailwind base;
@tailwind components;
@tailwind utilities;















^G Help        ^O Write Out   ^F Where Is    ^K Cut         ^T Execute     ^C Location      
^X Exit        ^R Read File   ^\ Replace     ^U Paste       ^J Justify     ^/ Go To Line    
